body {
    margin: 0;
    background: #000; 
  }
  video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
   background: url('videos/video.mp4') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
    

  
  .stopfade { 
     opacity: .5;
  }
  
  #polina { 
    position: relative;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100; 
    height: 100%;
    color: white;
    padding: 2rem;
    width: 48%;
    margin:1rem;
    float: left;
    font-size: 1.2rem;
    background-image: linear-gradient(45deg, #307A95, #102947);
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   { left:0px;}
    50%  { left:200px;}
    100% { left:0px;}
  }
  
   button { 
    display: block;
    width: 15%;
    height: auto;
    padding: .3rem;
    border: 1px solid #348298; 
    float:right;
    margin: 1rem auto; 
    font-size: .8rem;
    background: rgba(255,255,255,0.23);
    color:whitesmoke;
    border-radius: 3px; 
    cursor: pointer;
    }
   button:hover { 
     background: rgba(0,0,0,0.5);
  }
  
  a {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: .2rem;
    font-size: 1rem;
  }
  a:hover{
    background:rgba(0,0,0,0.9);
  }
  @media screen and (max-width: 500px) { 
    div{width:70%;} 
  }
  @media screen and (max-device-width: 800px) {
    #bgvid { display: none; }
  }

  
#loading
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:	#102947  url('images/logo2.gif')
    no-repeat center;
    z-index: 99999;
}


.div1 {
    position: relative;
    float: right;
    height: auto;
    right: -30%;
  border-top:3px solid #348298;
  border-right:3px solid #348298;
  border-bottom:3px solid #348298;
  border-left:3px solid #348298;  
  background: transparent; 
  animation-name: example;
  animation-duration: 4s;
}
.div2 {
    position: relative;
    width:100%;
    height: 60vh;
    float: left;
    left: -32%;
    top:10%;
    padding: 20px;
    text-align: justify;
    display: block;
    background-image: linear-gradient(45deg, #307A95, #102947);
    animation-name: example;
    animation-duration: 4s;
}
.div2 p {
    font-size: .8em;
}


.slidingVertical{
    display: inline;
    text-align: justify;
	text-indent: 5px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color:darkgray;
    font-size: 2em;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
.divicon
{
    position: relative;
    background:transparent;
    max-width: 50%;
    height: auto;
    left:80%;
    height: auto;
    padding: .3rem;
    float:right;
    margin: 1rem auto; 
    font-size: .8rem;
    text-align: justify;
   }


   .topnav {
  overflow: hidden;
  background:transparent;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: justify;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color: darkgray;
  padding: 10px 5px;
  font-size: .8em;
}

.topnav a:hover {
  background-color: #ddd;
  
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

